@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

@layer utilities {
  .scrollbar-styled::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-styled::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
    margin: 20px 0;
  }

  .scrollbar-styled::-webkit-scrollbar-thumb {
    background: #AAA;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar-styled::-webkit-scrollbar-thumb:hover {
    background: #CCC;
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}